<div class="body">
  <div class="container">

    <div class="header">
      <h1>Hub de Links para Devs</h1>
      <button class="open-modal-btn" (click)="openCreateModal()">+ Sugestão de novo link</button>
    </div>

    <div *ngIf="isLoading" class="loading-banner">
        Aguarde, a lista de links está sendo carregada…
        <strong *ngIf="countdownSeconds > 0">{{ countdownSeconds }}s</strong>
        <strong *ngIf="countdownSeconds === 0">ainda carregando…</strong>
    </div>

    <div class="modal-overlay" *ngIf="isModalOpen" (click)="closeModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <button class="close-modal-btn" (click)="closeModal()">&times;</button>
        
        <div class="form-container">
          <h3>{{ editingLink ? 'Editar Link' : 'Sugestão de novo link' }}</h3>

          <form #linkForm="ngForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
              <label for="title">Título</label>
              <input type="text" id="title" name="title" [(ngModel)]="formLink.title" required>
            </div>
            
            <div class="form-group">
              <label for="url">URL</label>
              <input type="url" id="url" name="url" [(ngModel)]="formLink.url" required>
            </div>

            <div class="form-group">
              <label for="description">Descrição</label>
              <textarea id="description" name="description" [(ngModel)]="formLink.description"></textarea>
            </div>

            <button type="submit" [disabled]="!linkForm.form.valid">{{ editingLink ? 'Salvar Alterações' : 'Adicionar Link' }}</button>
          
          </form>
        </div>

      </div>
    </div>

    <hr>

    <div *ngFor="let category of categories" class="category-group">
      <h2 (click)="toggleCategory(category)" class="category-title">
        {{ category.name }}
        <span class="toggle-icon">{{ category.isExpanded ? '&#9650;' : '&#9660;' }}</span>
      </h2>

      <ul class="link-list" *ngIf="category.isExpanded">
        <li *ngFor="let link of category.links" class="link-item">

          <div class="link-actions">
            <button class="icon-btn edit-btn" (click)="openEditModal(link)">&#9998;</button>
            <button class="icon-btn delete-btn" (click)="deleteLink(link.id)">&times;</button>
          </div>

          <a [href]="link.url" target="_blank">{{ link.title }}</a>
          <p>{{ link.description }}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
