<section class="hero-section">
  <div class="hero-container">
    <div class="hero-text">
      <h1>Seu Hub Central de Recursos para Devs</h1>
      <p class="subtitle">
        Navegue por uma coleção selecionada de links, vídeos e cursos para facilitar seu acesso aos melhores conteúdos, em um só lugar!
      </p>
      <div class="hero-actions">
        <a routerLink="/links" class="btn btn-primary">Explorar Conteúdo</a>
        <a href="#" class="btn btn-secondary">Saiba Mais</a>
      </div>
    </div>
    <div class="hero-image">
      <img src="assets/banner.png" alt="">
    </div>
  </div>
</section>